<%- include ('./partials/header.ejs')%>
<%- include ('./partials/home-navbar.ejs')%>
<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem Vindo</h1>
            <p class="lead">Este é um blog feito para estudo de node.js</p>
            <hr class="my-4">
            <p>lorem ipsum lorem ipsim lorem ipsuimsms</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
        <hr>
        <% articles.forEach(article=> { %>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <a href="/<%= article.slug %>" class="btn btn-primary">Ler artigo</a>
                </div>
            </div>
            <br>
        <% })%>
        <div class="row">
            <div class="col col-12">
                <a style="float: right;" href="">Next >></a>
            </div>
            <hr>
        </div>
        <hr>
    </div>
</body>
<%- include('./partials/footer.ejs') %>